@using MyWorkManager.viewModels;
@model CoverworkerDepartmentViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>工作服出入库</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="~/bootstrap/dist/js/jquery-3.5.1.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
     <script type="text/javascript">
         $(document).ready(function () {
             var type = $("#Type").val
             if (type == "入库") {
                 $("#workerName").hide();
                 $("#departmentName").hide();
             };
         });
     </script>
</head>
<body>
    <div class="container">

        <div>
            <div class="page-header">
                <h1> <small></small></h1>
            </div>
        </div>
        <div class="container">


            <form class="form-horizontal" asp-controller="Cover" asp-action="AddCover" method="post">

                <div class="form-group">
                    <label asp-for="coverDto.creatTime" class="col-sm-2 control-label">日期</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control backcolour " id="creatTime"  asp-for="@Model.coverDto.creatTime" value=@Model.coverDto.creatTime.ToString("yyyy-MM-dd")>
                        <span asp-validation-for="@Model.coverDto.creatTime" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">颜色</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Colour" readonly asp-for="@Model.coverDto.Colour" value=@Model.coverDto.Colour>
                        <span asp-validation-for="@Model.coverDto.Colour" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">尺寸</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="Sleeve" asp-for="@Model.coverDto.Sleeve">
                        <span asp-validation-for="@Model.coverDto.Sleeve" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">大小</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="Size" asp-for="@Model.coverDto.Size">
                        <span asp-validation-for="@Model.coverDto.Size" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">数量</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="SumMoneny" asp-for="@Model.coverDto.Number">
                        <span asp-validation-for="@Model.coverDto.Number" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="coverType" asp-for="@Model.coverDto.Type" value=@Model.coverDto.Type readonly>
                        <span asp-validation-for="@Model.coverDto.Type" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group" id="workerName">
                    <label asp-for="coverDto.workerName" class="col-sm-2 control-label">领用人</label>
                    <div class="col-sm-10">
                        <select class="form-control"  asp-for="@Model.coverDto.workerName" asp-items="@new SelectList(Model.workerSizes)"></select>
                        <span asp-validation-for="@Model.coverDto.workerName" style="color:red"></span>
                    </div>
                </div>

                <div class="form-group"  id="departmentName">
                    <label for="inputPassword3" class="col-sm-2 control-label">部门</label>
                    <div class="col-sm-10">
                        <select class="form-control"  asp-for="@Model.coverDto.departmentName" asp-items="@new SelectList(Model.departments)"></select>
                        @*<input type="text" class="form-control" id="Paypath" asp-for="Paypath">*@
                        <span asp-validation-for="@Model.coverDto.departmentName" style="color: red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">确认</button>
                        <a asp-controller="Cover" asp-action="Index" class="btn btn-primary">取消</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script type="text/javascript">
        var type = $("#Colour").val()
        if (type == "蓝领") {
            $("input").css("color", "#0080FF");
            $("h1").html("蓝领");
            $("h1").css("color", "#0080FF");

        } else if (type == "红领") {
            $("input").css("color", "#FF2D2D");
            $("h1").html("红领");
            $("h1").css("color", "#FF2D2D");
        } else if (type == "黄领") {
            $("h1").css("color", "#FFDC35");
            $("h1").html("黄领");
            $("h1").css("color", "#FFDC35");
        };
       
        var type1 = $("#coverType").val();
       
        if (type1 == "入库") {
            $("#workerName").css("display","none");
            $("#departmentName").css("display", "none");
        };
     

    </script>
</body>
</html>