@using MyWorkManager.Models;
@model MyWorkManager.viewModels.CoverDedailParameterViewModel;
@{ ViewBag.Title = "明细查询";}


<div class="container">

    <form class="form-inline" asp-controller="Cover" asp-action="CoverDetail" method="post">
        <div class="form-group">
            <label for="startime">起始时间:</label>
            <input type="date" class="form-control" id="startime" value="@Model.coverParameter.StartTime.ToString()" asp-for="@Model.coverParameter.StartTime">
        </div>
        <div class="form-group">
            <label for="endtime">截至时间:</label>
            <input type="date" class="form-control" id="endtime" value="@Model.coverParameter.EndTime.ToString()" asp-for="@Model.coverParameter.EndTime">
        </div>
        <div class="form-group">
            <label for="Paypath">颜色:</label>
            <select type="date" class="form-control" id="Paypath" value="" asp-for="@Model.coverParameter.Colour" asp-items="Html.GetEnumSelectList<CoverColour>()">
                
            </select>
        </div>
        <div class="form-group">
            <label for="Colour">款式:</label>
            <select type="date" class="form-control" id="Colour" value="" asp-for="@Model.coverParameter.Sleeve" asp-items="Html.GetEnumSelectList<CoverSleeve>()">
               
            </select>
        </div>
        <div class="form-group">
            <label for="Colour">尺寸:</label>
            <select type="date" class="form-control" id="Colour" value="" asp-for="@Model.coverParameter.Size" asp-items="Html.GetEnumSelectList<CoverSize>()">
               
            </select>
        </div>

        <div class="form-group">
            <label for="Type">类型:</label>
            <select type="date" class="form-control" id="Type" value="" asp-for="@Model.coverParameter.Type">
                <option>全部</option>
                <option>出库</option>
                <option>入库</option>
            </select>
        </div>


        <button type="submit" class="btn btn-default">查询</button>
    </form>

    <hr  style="margin:10px"/>

    <table class="table table-bordered" id="ticketnumber">

        <tr>
            <th>日期</th>
            <th>颜色</th>
            <th>款式</th>
            <th>尺寸</th>
            <th>类型</th>
            <th>数量</th>
            <th>领用人</th>
            <th>部门</th>

        </tr>
        @foreach (var item in Model.covers)
        {
            <tr>
                <th>@item.creatTime</th>
                <th>@item.Colour</th>
                <th>@item.Colour</th>
                <th>@item.Size</th>
                <th>@item.Type</th>
                <th>@item.Number</th>
                <th>@item.workerName</th>
                <th>@item.departmentName</th>

            </tr>
        }

    </table>
    @*<script>
        var time = new Date();
        $("#startime").val(time.toJSON().substring(0, 10));
        $("#endtime").val(time.toJSON().substring(0, 10));

    </script>*@
</div>