@using MyWorkManager.Models;

@model IEnumerable<Cover>;
@{ ViewBag.Title = "库存";}

<script>
    //$(document).ready(function () {
    //    var trcount = $("tr").length;
    //    if (trcount < 2) {
    //        $("#ticketnumber").css("display", "none");

    //    }

    //});
</script>
<div class="container">

    <h2 class="sub-header">Section title</h2>


    <div class="table-responsive">
        <table class="table table-bordered" id="ticketnumber">

            <tr style="text-align:center">
                <th>序号</th>
                <th>颜色</th>
                <th>袖长</th>
                <th>尺寸</th>
                <th>数量</th>
                <th ><div class="col-md-4">操作</div></th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    i = i + 1;
                    <tr style="text-align:center">
                        <td>@i</td>
                        <td>@item.Colour</td>
                        <td>@item.Sleeve</td>
                        <td>@item.Size</td>
                        <td>@item.Number</td>
                        
                        <td><a asp-controller="Cover" asp-action="AddCover" asp-route-covertype="@item.Colour,@item.Sleeve,@item.Size,出库">出库</a></td>

                    </tr>

                }
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td ><a asp-controller="Cover" asp-action="CoverDetail">查询明细</a></td>
        </tr>

            }

        </table>
    </div>
</div>

