@using Microsoft.AspNetCore.Identity;
@using MyWorkManager.Models
@model IEnumerable<IdentityRole>



<div class="container">

    <table class="table table-bordered" id="ticketnumber">

        <tr style="text-align: center">
            <th>序号</th>
            <th>ID</th>
            <th>角色名称</th>

            <th colspan="2">
                <div class="col-md-4">操作</div>
            </th>
        </tr>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i = i + 1;

                <tr>
                    <th>@i</th>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a class="btn btn-primary" asp-controller="Role" asp-action="UpDataRole" asp-route-Id="@item.Id">修改</a></td>
                    <td><a class="btn  btn-danger" asp-controller="Role" asp-action="DeleteRole" asp-route-Id="@item.Id">删除</a></td>

                </tr>

            }
    <tr>
        <td>@{i = i + 1;}</td>
        <td></td>
        <td></td>
        <td colspan="2"><a class="btn btn-primary" asp-controller="Role" asp-action="CreatRole">新增</a></td>
    </tr>

        }

    </table>

</div>