@model IEnumerable<MyWorkManager.Models.Ticket>;
@{ ViewBag.Title = "库存";}

<script>
    $(document).ready(function () {
        var trcount = $("tr").length;
        if (trcount < 2) {
            $("#ticketnumber").css("display", "none");
           
        }

    });
</script>
<div class="container">
   
    <table class="table table-bordered" id="ticketnumber">

        <tr style="text-align:center">
            <th>颜色</th>
            <th>面值</th>
            <th>数量</th>
            <th>金额</th>
            <th colspan="2"><div class="col-md-4">操作</div></th>
        </tr>
        @{
            foreach (var item in Model)
            {
               
                <tr style="text-align:center">
                    <td>@item.Colour</td>
                    <td>@item.TicketValue</td>
                    <td>@item.Number</td>
                    <td>@item.SumMoneny</td>
                    <td><a asp-controller="TicketIAO" asp-action="Index" asp-route-state="@item.Colour,入库">入库</a></td>
                    <td><a asp-controller="TicketIAO" asp-action="Index" asp-route-state="@item.Colour,出库">出库</a></td>

                </tr>
               
            }
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"><a asp-controller="TicketQuery" asp-action="Index">查询明细</a></td>
         </tr>

        }
       
    </table>
  
</div>

